.mainWrapper {
    display: flex;
    justify-content: center;
  }
  
  .main {
    display: flex;
    align-items: center;
    padding: 190px var(--padding-min) 50px;
    min-height: 100vh;
    max-width: var(--max-width);
  }
  .presentationWrapper {
    width: 60%;
  }
  .presentationImage {
    width: 40%;
  }
  .presentationText {
    color: #0d080efb;
    line-height: 140%;
    font-size: 2.8rem;
    font-weight: 500;
    text-align: left;
  }
  .subPresentationWrapper {
    min-height: 200px;
  }
  .promotedText {
    color: var(--color-one);
    text-align: left;
  }
  .presentationText > span {
    text-align: left;
    min-height: 20px;
  }
  
  @media (max-width: 968px) {
    .main {
      flex-direction: column;
    }
    .presentationWrapper {
      width: 80%;
    }
    .presentationText {
      font-size: 2.3rem;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 568px) {
    .main {
      position: relative;
      padding: 190px var(--padding-min) 50px;
    }
    .presentationWrapper {
      width: 50%;
    }
    .presentationText {
      font-size: 1.3rem;
      text-align: center;
      margin-bottom: 30px;
    }
    .presentationWrapper > span {
      margin-bottom: 30px;
      font-size: 0.9rem !important;
      max-width: inherit;
      text-align: center;
    }
  }